.button {
  padding: 17px 42px;
  border: 0;
  border-radius: 21px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}