.news__heading {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news__link {
  display: block;
  width: 300px;
  margin-bottom: 80px;
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}