.subscribe__fieldset {
  border: none;
}

.subscribe__form {
  padding-top: 15px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #5a5a5a;
}

.subscribe__text {
  padding-top: 10px;
  padding-bottom: 40px;
}

.subscribe__mail {
  width: 310px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}